.App {
  text-align: left;
  color:ghostwhite;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

h2 {
  border-bottom: solid 1px;
}

li {
  margin: 3vh 0;
}

a:link {
  color:hsl(193, 95.1%, 68.4%);
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

a:visited {
  color:rgb(139, 98, 251);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
